<%- include('partials/_header') -%>
      <!-- end header -->

<div class="contactus">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="title">
          <h2>Our Product</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ourproduct">
  <div class="container">
    <div class="col-md-12 mt-3">
      <form class="bottom_form" method="GET" action="/products">
        <input
          type="text"
          name="search"
          class="form-control rounded"
          placeholder="Search"
        />
        <button value="Search" type="submit"></button>
      </form>
    </div>
   <div class="col-md-12 d-flex my-3">
      <strong>CATEGORY:</strong>

      <li>
        <a href="/products?categories= categories[i].slug %>" class="m-2">
          categories[i].name %></a
        >
      </li>

    </div>
     <div class="row product_style_3" ">
        <!-- product -->
        <% for (let i = 0; i < products.length; i++) { %>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="full product">
            <div class="product_img">
              <div class="center"> <img src="/images/img-1.png" alt="#"/>
                <div class="overlay_hover"> <a class="add-bt" href="/products/<%=products[i].slug %>">+ Add to cart</a> </div>
              </div>
            </div>
            <div class="product_detail text_align_center">
              <p class="product_price">$ <%=products[i].price %></p>
              <p class="product_descr"> <%=products[i].name %> </p>
              <p class="product_descr"> <%=products[i].description %> </p>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</div>

<!--  footer --> 
<%- include('partials/_footer') -%>